<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片风格迁移demo</title>
</head>
<body>
    <h1>上传你的图片，开始体验图片风格迁移的魅力吧</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <br>
        <i>请上传你的图片：</i>
        <input type="text" class="txt_input" name="name"  value="" style="margin-top:10px;"/>
        <input type="submit" value="开始迁移" class="button-new" style="margin-top:15px;"/>
    </form>
</body>
</html>
