<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>油压漏油预测模型</title>
</head>
<body>

<div align="center" style="border:1px solid green">
	<font size="6" color="blue">油压系统漏油预测：</font>
</div>



<p><font class="font" size="3" face="arial" color="Black"> {{result_k}}:{{result_line}}</font></p>

<script type="text/javascript">
	fn()
	function fn(argument) {
		if(key==1){
			var fontEle = document.getElementsByClass('font')
			    fontEle.style.color = 'red'
				console.log(fontEle,key)
		}
		// body...
	}

</script>


 
</body>
</html>
